#signUp{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #194432 0%, #16704a 100%),
            #16704a,
            #119a60,
            radial-gradient(center 50% 50%, radius 100%, #119a60, #25b97b);
}